.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;

  padding: 40px;
  border-radius: 10px;
  
  background-color: #f1f1f1;
}

.AppTitle {
  text-align: center;
}

.AppTitle > h1{
  font-size: 3.5em;
  margin: 0;
  color: #3EA025;
}

.AppTitle > h2{
  font-size: 1.2em;
  margin: 0;
}

.AppContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.AppButton {
  height: 60px;
  width: 60px;

  border-radius: 50%;
  border: none;

  background-color: #3EA025;
}

.AppButton > svg {
  height: 75%;
  width: 75%;
  
  color: white;
  
}

.PulseAnimation {
  animation: shadowPulse 1s infinite;
}

.PulseAnimation > svg {
  height: 55%;
  width: 55%;
}

@keyframes shadowPulse {
  0% {
      box-shadow: 0 0 0 5px rgba(80, 201, 50, 0.5);
  }
  50% {
      box-shadow: 0 0 0 10px rgba(80, 201, 50, 1);
  }
  100% {
      box-shadow: 0 0 0 5px rgba(80, 201, 50, 0.5);
  }
}
