.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;

  padding: 40px;
  border-radius: 10px;
  
  background-color: #f1f1f1;
}

.AppTitle {
  text-align: center;
}

.AppTitle > h1{
  font-size: 3.5em;
  margin: 0;
  color: #4cbffc;
}

.AppTitle > h2{
  font-size: 1.2em;
  margin: 0;
}

.AppContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.AppButton {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: none;
  background-color: #4cbffc;
  transition: box-shadow 0.3s ease;
  margin: 10px;
}

.AppButton:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

.AppButton > svg {
  height: 75%;
  width: 75%;
  
  color: white;
}

.PulseAnimation {
  animation: shadowPulse 1s infinite;
}

.PulseAnimation > svg {
  height: 55%;
  width: 55%;
}

@keyframes shadowPulse {
  0% {
      box-shadow: 0 0 0 5px rgba(135, 206, 235, 0.5);
  }
  50% {
      box-shadow: 0 0 0 10px rgba(135, 206, 235, 1);
  }
  100% {
      box-shadow: 0 0 0 5px rgba(135, 206, 235, 0.5);
  }
}

/*espaço para o resultado abaixo do botão*/
.SendButton {
  width: auto;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #4cbffc;
  color: white;
  border: none;
}

.ResultContainer {
  width: 100%;
  max-width: 600px;
  max-height: 300px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: white;
}

.Result {
  white-space: pre-wrap;
  text-align: left;
}

.Transcript {
  color: grey;
  font-style: italic;
}